<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>


<body>

  <div class="header">
  <%if current_user  %>
    <h1>Logged in as <%=@current_user.username %></h1>
    <a href='/users/<%=current_user.id%>/edit'>Edit User</a>
    <form action='/sessions/<%=current_user.id%>' method='POST'>
      <input type='hidden' name='_method' value='DELETE'>
      <input type='submit' value='Log Out'>
    </form>
  <%else  %>
  <a href='/users/new'>Create User &nbsp;&nbsp;&nbsp;&nbsp;|</a>
  <a href='/sessions/new'>Log In</a>
  <%end %>
</div>

<div class="content">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>

</div>

</body>
</html>

